{% extends 'base.html' %}
{% block title %} To-Do {{listId}} {% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='styles/list.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='styles/columnContainer.css')}}">
{% endblock %}
{% block content %}
	<div class="columnContainer">
		<div id="inputBar">
			<input type="text" id="addInput" placeholder="Add to your To-Do List! Saves when you refresh!">
		</div>
		<table>
			<tr>
				<td>Completed</td>
				<td>Task</td>
				<td>Remove</td>
			</tr>
		</table>
		<script src="{{url_for('static', filename='js/main.js')}}"></script>
	</div>
{% endblock %}
